<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Dahir-assignment-2.4</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
    />
    
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </nav>

    <div role="main" class="container">
      <br /><br />

      <div class="jumbotron-text-center">
      <h2>Assignment 2.4 - EJS Views</h2>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="alert alert-info" role="alert">
            <strong>First Name: </strong> <span><%= firstName %></span><br>
            <strong>Last Name: </strong> <span><%= lastName %></span><br>
            <strong>Address: </strong> <span><%= address %></span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>