html 
    head    
        title Assignment 5.3
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css")

    body
        nav.navbar.navbar-dark.bg-dark.navbar-expand-sm.justify-content-center
            ul.navbar-nav
                li.nav-item
                    a.nav-link(href="#") Home
                li.nav-item
                    a.nav-link(href="#") About
                li.nav-item
                    a.nav-link(href="#") Contact
    br
    br
    div.container
        h2.text-center PUG Example
         p.text-center.alert.alert-info= message
