<!DOCTYPE html>
<html lang="en">
    <%- include("header"); %>
<body>
<%- include("navbar"); %>
<div class="bg bg-success p-5">
<div class="container text-center">
<h3 class="display-4">Hello, welcome to the</h3>
<h1 class="display-3">Employee Management System</h1>
</div>
</div>

<%- include("footer"); %>
<%- include("scripts"); %>
    </body>

</html>