<table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th>First</th>
        <th>Last</th>
      </tr>
    </thead>
    <tbody>
      <!--For each to display each employee in table-->
      <% if (employees.length) { %>
        <% employees.forEach(function (Entry) { %>
          <tr>
            <td><%= Entry.firstName %></td>
            <td><%= Entry.lastName %></td>
            <td><a href="/view/<%= Entry.firstName%>">VIEW</a></td>
          </tr>
        <% }) %>
      <% } else { %>
        <tr>
          <td>
           No Entries<a href="/new">Add one!</a>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>